<footer class="text-center text-white fixed-bottom border-info" style="background-color: #34495e; height: 50px; display: flex; align-items: center; justify-content: center;">
  <p><strong>© Codekpur (CP) Private Limited. All Rights Reserved | <i>Term and Conditions</i>
    </strong></p>
</footer>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>

</html>
