<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top border-bottom" style="background-color: #34495e; font-weight: 800; height: 50px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="padding-right: 2em;">
      <span
        style="border: 1px solid white; padding: 4px; padding-right: 0.9em; padding-left:0.9em; box-shadow: 0 2px 2px white;"><strong><b>AV</b></strong></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Sorting
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/sorting/bubble-sort">Bubble Sort</a></li>
            <li><a class="dropdown-item" href="/sorting/selection-sort">Selection Sort</a></li>
            <li><a class="dropdown-item" href="/sorting/merge-sort">Merge Sort</a></li>
            <li><a class="dropdown-item" href="/sorting/insertion-sort">Insertion Sort</a></li>
            <li><a class="dropdown-item" href="/sorting/heap-sort">Heap Sort</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Path Finding
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/path-finding/dfs">DFS</a></li>
            <li><a class="dropdown-item" href="/path-finding/bfs">BFS</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Maze Generation
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/maze-generation/dfs">using DFS</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>