<!-- Sorting Controlls -->
<div class="container-fluid  px-5 py-3 bg-dark text-white">
    <div class="row">
        <div class="col-3">
            <label for="size" class="form-label">Array Size</label>
            <input type="range" class="form-range" min="20" max="250" step="5" id="size" value="100" />
        </div>
        <div class="col-3">
            <label for="speed" class="form-label">Speed</label>
            <input type="range" class="form-range" min="0" max="5" step="1" id="speed">
        </div>
        <div class="col-3">
            <div class="d-grid gap-2">
                <button class="btn btn-outline-light" type="button">Generate Array</button>
              </div>
        </div>
        <div class="col-3">
            <div class="d-grid gap-2">
                <button class="btn btn-outline-light" type="button">Reset</button>
              </div>
        </div>
    </div>
</div>