<%- include("../partials/header.ejs"); %>
<%- include("../partials/sorting.ejs"); %>

    <div class="container" id="main"></div>

    <script>
      let main = document.querySelector('#main');
      let size = document.getElementById('size');

      main.innerHTML = `<h4>Bubble sort</h4><h3>size : ${size.value}</h3>`;
      size.addEventListener('change', () => {
        main.innerHTML = `<h4>Bubble sort</h4><h3>size : ${size.value}</h3>`;
      });
    </script>


    <%- include("../partials/footer.ejs"); %>