<%- include("../partials/header.ejs"); %>


  <div class="container"></div>

  <script>
    let main = document.querySelector('.container');
    main.innerHTML+="<h3>Insertion sort</h3>";
  </script>

<%- include("../partials/footer.ejs"); %>