<%- include("../partials/header.ejs"); %>
  <%- include("../partials/sorting-control.ejs"); %>

    <div class="container mt-2 bg-light" id="main">
      <!-- Main container -->
    </div>

  <script src="/javascripts/sorting/control.js"></script>

<%- include("../partials/footer.ejs"); %>