<%- include("partials/header.ejs"); %>

<div class="container" style="height: 70vh; display: flex; justify-content: center; align-items: center;">
    <div class="error" style="display: block; width: 50%;">
        <h1 class="text-center" class="my-1">Error : <%= error.status %></h1>
        <h4 class="text-center" class="my-1">If you can understand the below error then, Check It!</h4>
        <h1 class="text-center" class="my-1"><%= message %></h1>
        <h3 class="text-center" class="my-1"><a href="/">Go to Home Page</a></h3>
        
    </div>
</div>


<%- include("partials/footer.ejs"); %>