
  <%- include("partials/header.ejs"); %>
    
 
<div class="text-white text-center" style="background-color: #34495e;height: 55vh; display: flex; justify-content: center; align-items: center;">
  <div class="cover-container d-flex p-3 mx-auto flex-column" style="background-color: #34495e;;">
    <main role="main" class="inner cover">
      <h2 class="cover-heading"><b><i>Algorithm Visualizer</i></b></h2>
      <p class="lead">Algorithm Visualizer lets you visualize various <b>sorting </b> and <b>path-finding</b> algorithms and data structures.</p>
      <p class="lead">
        <a href="#algo" class="btn btn-lg btn-outline-light">Visualize Now</a>
      </p>
    </main>
  </div>
</div>
<div class="container my-5" id="algo">
  <div class="row py-2 pb-5">
    <div class="col-6">
      <h4 class="text-center text-dark"><u>Sorting algorithms</u></h4>
      <ul class="text-center" style="font-size: 20px;">
        <li style="list-style: none;"><a class="btn btn-dark my-1" style="background-color: #34495e; width: 250px;" href="/sorting/bubble-sort">Bubble sort</a></li>
        <li style="list-style: none;"><a class="btn btn-dark my-1" style="background-color: #34495e; width: 250px;" href="/sorting/selection-sort">Selection Sort</a></li>
        <li style="list-style: none;"><a class="btn btn-dark my-1" style="background-color: #34495e; width: 250px;" href="/sorting/merge-sort">Merge Sort</a></li>
        <li style="list-style: none;"><a class="btn btn-dark my-1" style="background-color: #34495e; width: 250px;" href="/sorting/insertion-sort">Insertion Sort</a></li>
        <li style="list-style: none;"><a class="btn btn-dark my-1" style="background-color: #34495e; width: 250px;" href="/sorting/heap-sort">Heap Sort</a></li>
      </ul>
    </div>
    <div class="col-6">
      <h4 class="text-center text-dark"><u>Path-Finding algorithms</u></h4>
      <ul class="text-center" style="font-size: 20px;">
        <li style="list-style: none;"><a class="btn btn-dark my-1" style="background-color: #34495e; width: 250px;" href="/path-finding/dfs">DFS</a></li>
        <li style="list-style: none;"><a class="btn btn-dark my-1" style="background-color: #34495e; width: 250px;" href="/path-finding/bfs">BFS</a></li>
      </ul>
    </div>
  </div>
</div>

  <%- include("partials/footer.ejs"); %>