body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(215, 227, 230)
}

.nav-item {
  padding-right:2em;
  font-size: 1.3em;
}

#main{
  box-shadow: 0px 0px 6px rgb(44, 44, 44);
  padding: 5px;
  display: flex; 
  width: 100%; 
  height: 68vh; 
  border: 1px solid rgb(29, 28, 28); 
  flex-direction: row; 
  justify-content:center;
}
.start{
  
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image:url(../images/triangletwo-right.svg);;
  /*background-color: rgb(255, 254, 106);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.target{
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(../images/circle.svg);
  /*background-color: rgb(255, 254, 106);*/
  /*background-color: rgba(232, 147, 12, 0.75);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes specialNodes {
  0% {
    transform: scale(.3);
    /*background-color: darkslategrey;*/
  }

  50% {
    transform: scale(1.2);
    /*background-color: darkslategrey;*/
  }

  100% {
    transform: scale(1.0);
    /*background-color: darkslategrey;*/
  }
}

br{
  margin: 0;
  padding: 0;
}


.cover-container {
  max-width: 42em;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

b{
  font-weight: 700;
}

